body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: #2452e5;
}

.btn{
    position: relative;
    padding: 20px 45px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    border: 0;
    color: #000;
    letter-spacing: 1px;
    line-height: 1;
    transition: background 300ms ease, color 300ms ease;
}

.show{
    margin-top: 50px;
    background: #fff;
}

.show:hover{
    background: #113092;
    color: #fff;
}

#dialog{
    padding: 50px;
    color: #000;
    background: #fff;
    border-radius: 12px;
    border: 1px solid rebeccapurple;
}

.close{
    transform: translate3d(-13px, 33px, 32px);
    background: #e91e63;
}
.close:hover{
    background: #ff4136;
    color: #fff;
}